@import "/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* #FF5252 */
/* #19FF81 */
/* #54F62F */

body {
	background: #353436;
	font-size: 14px;
	color: rgb(255, 255, 255);
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}
.buttons {
	/* background: #353436; */
	/* color: rgb(255, 255, 255); */
	/* font-size: 14px; */
	/* font-weight: bold; */
	/* border-radius: 5px; */
	transition: all 2s ease;
	margin-top: 20px;
}

/* .buttons button {
    background: #353436;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.3s ease;
    margin-top: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #ffffff;
} */

.active {
	background: #bb3030;
	color: rgb(0, 0, 0);
}

/* progress circle */
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* body {
  height: 100vh;
  background: linear-gradient(#e8f0f7 50%, #4d5bf9 50%);
} */

.buttons_mode {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 20px;
	gap: 5px;
}
.container {
	height: 480px;
	width: 320px;
	background-color: #6e6e6ee8;

	/* position: absolute; */
	/* transform: translate(-50%, -50%);
  top: 50%;
  left: 50%; */
	border-radius: 8px;
	/* box-shadow: 20px 20px 40px rgba(60, 60, 150, 0.25); */
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	place-items: center;
	background: rgba(255, 255, 255, 0.35);
}
.progress-circle {
	/* position: relative; */
	height: 250px;
	width: 250px;
	/* border: 1px solid #3aa3ff; */
	border-radius: 50%;
	/* background-color: #c43838e0; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 10px rgba(73, 73, 73, 0.25);
	/* display: grid;
  place-items: center; */
}

.pulse {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	/* z-index: -1; */
	/* transform: scale(1); */
	/* animation: pulse 1.5s infinite; */
}

.progress-circle:before {
	content: "";
	position: absolute;
	box-shadow: 0px 0px 40px rgba(73, 73, 73, 0.25);
	transition: all 0.3s;
	height: 230px;
	width: 230px;
	background-color: #ffe3e3;
	border-radius: 50%;
	/* border: 1px solid #3aa3ff; */
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 63, 63, 0.7);
	}

	70% {
		transform: scale(1.1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.value-container {
	position: absolute;

	font-family: "Poppins", sans-serif;
	font-size: 50px;
	color: #231c3d;
}
